.bgcolor{
    background-color: #FFE61975;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.image{
    width: 500px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 0px #c5c5c5;
}
.login-form-container{
    background-color: white;
    padding: 30px 60px;
    border-radius: 20px;
    box-shadow: 10px 10px 50px 5px black;
}