.body{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.main-heading{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 50px;
}
.main-para{
    font-family: roboto;
    font-style: italic;
    font-size: 18px;
    color: #36454F	;
    line-height: 35px;
}
.heading{
    font-size: 20px;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 30px;
}
li{
    border: 1px solid gray;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px #70809030;
}
.list-heading{
    color: #708090	;
}
.list-des{
    font-size: 16px;
    font-family: sans-serif;
    line-height: 25px;
}
.hr{
    border: 2px solid #3F51B5;
    margin-top: -15px;
}
.nav-link{
    text-decoration: none;
    color: #3F51B5;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #36454F;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px #3F51B5;
}
.sep-heading{
    color: black;
    font-family: sans-serif;
    font-size: 20px;
}
.sep-para{
    color: gray;
    font-weight: 500;
    font-family: roboto;
    font-style: italic;
    line-height: 30px;
    font-size: 20px;
}
.usernames{
    color: white;
    background-color: black;
    padding: 5px 15px;    
    border-radius: 10px;
}